{% extends "base.html.twig" %}

{% block body %}
        <section class="bannerUp">
            <div class="row">
                <div class="col-12 d-none d-sm-block">
                    <picture>
                        <img src="{{ asset('Images/Mediatheque-sa.jpg') }}" alt="Photo de la médiathèque">
                    </picture>
                </div>
                <div class="row d-flex bg-light mb-3">
                    <h1 class="m-4">MEDIATHEQUE DE LA CHAPELLE CURREAUX</h1>
                </div>
                <div class="row">
                    <div class="col-12 col-md-7">
                        <p class="text-left m-4">L’équipe vous accueille et vous oriente dans le choix des nombreux
                            supports proposés par la médiathèque  : revues, livres cd, film ou dvd, cd… Vous y
                            trouverez des outils pour vous former,  vous informer et vous divertir. L’espace multimédia
                            propose des ateliers thématiques et des animations sur le web et les réseaux sociaux.
                            Des expositions et animations ont lieu tout au long de l’année.<br><br>

                            L’entrée à la médiathèque et à l’espace multimédia est libre et gratuit. Sur place vous
                            pouvez lire la presse régionale,  vous connecter à internet soit sur les ordinateurs de
                            l’espace multimédia soit en wifi.</p>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}