{% extends 'base.html.twig' %}

{% block title %}Hello InfoController!{% endblock %}

{% block body %}

<div class="example-wrapper">
<div class="row d-none d-sm-block">
    <picture>
        <img src="{{ asset('Images/Mediatheque-sa.jpg') }}" alt="Photo de la médiathèque">
    </picture>
</div>
<div class="row">
    <div class="col-12">
        <h1>PAGE EN COURS DE CONSTRUCTION</h>
    </div>
</div>
</div>
{% endblock %}
