<!DOCTYPE html>
<html lang="fr_FR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Médiathèque de la Chapelle Cureaux">
        <meta name="keywords" content="Symfony, bootstrap">
        <meta name="author" content="Gael Mayer">
        <title>{% block title %}Médiathèque CP{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap" rel="stylesheet">
        {% block stylesheets %} {{ encore_entry_link_tags('app') }} {% endblock %}
{#        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/layout.css') }}"/>#}
    </head>
    <body>
        <header>
            <div class="row">
                <div class="d-flex justify-content-center bg-dark">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
                        <a class="navbar-brand text-center mt-2 text-white" href="/">LA CHAPELLE CUREAUX</a>
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav justify-content-around">

                                    {% if is_granted("ROLE_BORROWER") and not is_granted("ROLE_ADMIN") %}
                                    <li class="nav-item px-5">
                                        <a class="nav-link active text-white" aria-current="page" href="/borrower">Profil</a>
                                    </li>
                                    {% endif %}
                                    <li class="nav-item px-5">
                                        <a class="nav-link active text-white" aria-current="page" href="/">MEDIATHEQUE</a>
                                    </li>
                                    {% if is_granted("ROLE_BORROWER") %}
                                    <li class="nav-item px-5">
                                        <a class="nav-link active text-white" aria-current="page" href="/catalogue">Catalogue</a>
                                    </li>
                                    {% endif %}
                                    <li class="nav-item px-5">
                                        <a class="nav-link text-white" href="/info">UTILE</a>
                                    </li>
                                    {% if is_granted("ROLE_ADMIN") %}
                                        <li class="nav-item px-5">
                                            <a class="nav-link active text-white" aria-current="page" href="/admin">Administration</a>
                                        </li>
                                    {% endif %}
                                    {% if is_granted("ROLE_BORROWER") %}
                                        <form action="/logout" class="d-flex px-5">
                                            <button class="btn btn-outline-success" type="submit">Déconnexion</button>
                                        </form>
                                    {% else %}
                                        <form action="/login" class="d-flex px-5">
                                            <button class="btn btn-warning" type="submit">Connexion</button>
                                        </form>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        {% block body %}
            <main>
            </main>
        {% endblock %}
    <footer>
        <div class="row bg-info">
            <div class="col-6 col-md-5 m-5 d-flex flex-column align-items-center">
                <h4 class="text-center">Médiathèque de la Chapelle Cureaux</h4>
                <ul class="mt-2">
                    <li>Place de l'Hôtel de ville</li>
                    <li>568990 La Chapelle Cureaux</li>
                    <li><a href="tel:(0)2 97 60 70 10">Tél : +33(0)2 97 60 70 10</a></li>
                </ul>
            </div>
            <div class="col-7 col-md-4 m-5">
                <h4 class="text-center">Horaires d'ouverture</h4>
                <span class="mt-2">L’accueil général est ouvert du lundi au vendredi de 8h30 à 12h et de 13h30 à 17h30.
                    Le samedi de 8h30 à 12h.</span>
            </div>
        </div>
    </footer>
        {% block javascripts %} {{ encore_entry_script_tags('app') }} {% endblock %}
    </body>
</html>
