<!DOCTYPE html>
<html lang="fr_FR">
    <head>
        <meta charset="UTF-8">
        <meta name="">
        <title>{% block title %}Médiathèque CP{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/layout.css') }}">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {#{% block stylesheets %} {{ encore_entry_link_tags('app') }} {% endblock %}#}
    </head>
    <body>
        <header>
            <div class="container-fluid row">
                <div class="col-3 text-center mt-5">
                    <a class="navbar-brand" href="/">Médiathèque <br> de la Chapelle-Cureaux</a>
                </div>
                {% if is_granted("ROLE_USER") %}
                <div class="col-4">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Trouver un livres" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Rechercher</button>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center shadow bg-light">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav justify-content-around">

                                    {% if is_granted("ROLE_USER") %}
                                    <li class="nav-item px-5">
                                        <a class="nav-link active" aria-current="page" href="/borrower">Profil</a>
                                    </li>
                                    {% endif %}
                                    {% if is_granted("ROLE_BORROWER") %}
                                        <li class="nav-item px-5">
                                            <a class="nav-link active" aria-current="page" href="/borrowed-book">Livres empruntés</a>
                                        </li>
                                    {% endif %}

                                    <li class="nav-item px-5">
                                        <a class="nav-link active" aria-current="page" href="/">La médiathèque</a>
                                    </li>
                                    <li class="nav-item px-5">
                                        <a class="nav-link" href="#">Infos pratiques</a>
                                    </li>
                                    <form action="/login-borrower" class="d-flex px-5">
                                        <button class="btn btn-outline-success" type="submit">Connexion</button>
                                    </form>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}
    <footer>
        <div class="row bg-success">
            <div class="col-5 m-5">
                INFOS PRATIQUES
            </div>
            <div class="col-5 m-5">
                <form action="/login-staff" class="d-flex px-5">
                    <button class="btn btn-primary" type="submit">ESPACE PRO</button>
                </form>
            </div>
        </div>
    </footer>
        {#{% block javascripts %} {{ encore_entry_script_tags('app') }} {% endblock %}#}
    </body>
</html>
