{#{% extends 'base.html.twig' %}

{% block title %}Hello MailController!{% endblock %}

{% block body %}#}

    <h1>Validation de votre compte</h1>
    <h2>Votre compte à bien été validé le {{ created_at|date('d/m/Y') }}</h2>
    <p>{{ content }}</p>

{#
{% endblock %}
#}
